.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 24px 150px;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
header,
.header_ul {
    display: flex;
}

.header_ul {
    column-gap: 32px;
}
.header_title {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #000000;
}
.header_title, .nav_link, .action {
    font-family: "Inter", sans-serif;
    letter-spacing: -0.44023728370666504px;
}
.nav_link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}
.action {
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #524A44;
    padding: 12px 19px;
    border-radius: 32px;
    border: none;
}
.burger_icon {
    display: none;
}